PORT=3000
MONGO_URL=
JWT_SECRET=

COBRE_API_URL=
COBRE_USER_ID=
COBRE_SECRET=
COBRE_AUTH_STRING=
COBRE_API_KEY=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SENDER_EMAIL=
EMAIL_APP_PASSWORD=
SENDGRID_API_KEY=

GOOGLE_GMAIL_API_KEY=
GOOGLE_GMAIL_URL=https://www.googleapis.com
GOOGLE_GMAIL_CLIENT_ID=
GOOGLE_GMAIL_CLIENT_SECRET=
GOOGLE_GMAIL_REFRESH_TOKEN=

AUTOCORE_URL=
AUTOCORE_ACCESS_KEY=
AUTOCORE_SECRET_KEY=
AUTOCORE_URL_DEV=
AUTOCORE_ACCESS_KEY_DEV=
AUTOCORE_SECRET_KEY_DEV=

MY_TOOL_EMAIL=
MY_TOOL_CLAVE=
API_AIXO=
API_AZUAN=
API_RODADERO=
API_AVEXI=
API_BOCAGRANADE=
API_ABI=
API_MADISSON=
API_WINDSOR=
API_MARINA=
API_AXIS=
API_MARQUES=
API_SANSIRAKA=
API_PLAYASALGUERO=

AMADEUS_API_KEY=
AMADEUS_API_SECRET=
AMADEUS_BASE_URL=
BOOKING_PERSONAS_TOKEN=

MAARLAB_BASE_URL=
MAARLAB_AUTH_TOKEN=
MAARLAB_PARTNER_SYNC_BEARER=
MAARLAB_CHAIN_SEARCH_ENGINE_ID=

HOST_BRIDGE=
GOOGLE_DRIVE_FOLDER_ID=
BACKUP_NOTIFICATION_EMAIL=