PORT=3000
MONGO_URL=
JWT_SECRET=

# Cobre
COBRE_API_URL=
COBRE_USER_ID=
COBRE_SECRET=
COBRE_AUTH_STRING=
COBRE_API_KEY=

# Nodemailer
SENDER_EMAIL=
EMAIL_APP_PASSWORD=

# Autocore pruebas
AUTOCORE_URL=
AUTOCORE_ACCESS_KEY=
AUTOCORE_SECRET_KEY=

# My Tool ENVS
MY_TOOL_EMAIL=
MY_TOOL_CLAVE=
API_1525=
API_AIXO=(recordar usar la version para servidor cuando no se este en aixo)
API_AZUAN=
API_RODADERO=
API_AVEXI=
API_BOCAGRANADE=
API_ABI=
API_MADISSON=
API_WINDSOR=
API_MARINA=
API_AXIS=