|PORT=3000
MONGO_URL=

JWT_SECRET=

# Cobre
COBRE_API_KEY=
COBRE_API_URL=
COBRE_AUTH_STRING=
COBRE_SECRET=
COBRE_USER_ID=

# Cloudinary
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=

# Nodemailer
EMAIL_APP_PASSWORD=
SENDER_EMAIL=

# Autocore
AUTOCORE_ACCESS_KEY=
AUTOCORE_SECRET_KEY=
AUTOCORE_URL=

# Autocore dev
AUTOCORE_ACCESS_KEY_DEV=
AUTOCORE_SECRET_KEY_DEV=
AUTOCORE_URL_DEV=

# My Tool ENVS
API_1525=
API_ABI=
API_AIXO=
API_AVEXI=
API_AXIS=
API_AZUAN=
API_BOCAGRANADE=
API_MADISSON=
API_MARINA=
API_RODADERO=
API_WINDSOR=
MY_TOOL_CLAVE=
MY_TOOL_EMAIL=