PORT=3000
# * Pruebas
MONGO_URL=
JWT_SECRET=

# Ocean flight 
OCEAN_FLIGHT_URL_DEV=

# Cobre
COBRE_API_URL=
COBRE_USER_ID=
COBRE_SECRET=
COBRE_AUTH_STRING=
COBRE_API_KEY=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Nodemailer
SENDER_EMAIL=
EMAIL_APP_PASSWORD=

# Autocore
AUTOCORE_URL=
AUTOCORE_ACCESS_KEY=
AUTOCORE_SECRET_KEY=

# Autocore dev
AUTOCORE_URL_DEV=
AUTOCORE_ACCESS_KEY_DEV=
AUTOCORE_SECRET_KEY_DEV=

# My Tool ENVS
MY_TOOL_EMAIL=
MY_TOOL_CLAVE=
API_1525=
API_AIXO=
API_AZUAN=
API_RODADERO=
API_AVEXI=
API_BOCAGRANADE=
API_ABI=
API_MADISSON=
API_WINDSOR=
API_MARINA=
API_AXIS=